#login-footer{
	height: 55px;
	position: relative;
	width: 100%;
	background-color: #363636;
	color: #fbde43;
	text-align: center;
	margin-top: 3.1%;
	display: inline-block;
}

#options h1{
	background-color: #363636;
	padding: 5px;
	width: 100%;
	color: #fbde43;
	text-align: center;
	display: inline-block;
}

#options{
	background-color: #f0f0f0;
	text-align: center;
}

#options hr { 
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px solid #191919;
    margin: 1em 0; 
    padding: 0; 
    width: 90%;
    display: inline-block;
}

#student{
	background-color: #fbde43;
	color: #363636;
	margin-top: 1%;
	margin-bottom: 1%;
	box-shadow: 1px 1px 1px #191919;
}

#student:hover{
	background-color: #363636;
	color: #fbde43;
	text-shadow: 1px 1px #191919;
	box-shadow: 1px 1px 1px #191919;
	margin-top: 1%;
	margin-bottom: 1%;
}

#student h2{
	text-decoration: none;
	text-align: center;
}

#services{
	width: 100%;
	background-color: #fbde43;
	color: #363636;
	text-align: center;
}


#services h4{
	text-decoration: underline;
	text-align: center;
	display: inline-block;
	font-weight: bolder;
}

#services h1{
	text-decoration: underline;
	text-align: center;
	display: inline-block;
	font-weight: bolder;
}

#faculty{
	background-color: #fbde43;
	color: #363636;
	margin-top: 1%;
	margin-bottom: 1%;
	box-shadow: 1px 1px 1px #191919;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

#faculty:hover{
	background-color: #363636;
	color: #fbde43;
	box-shadow: 1px 1px 1px #191919;
	margin-top: 1%;
	margin-bottom: 1%;
	text-shadow: 1px 1px #191919;
}

#faculty h2{
	text-decoration: none;
	text-align: center;
}

#company{
	background-color: #fbde43;
	color: #363636;
	margin-top: 1%;
	margin-bottom: 1%;
	box-shadow: 1px 1px 1px #191919;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

#company:hover{
	background-color: #363636;
	text-shadow: 1px 1px #191919;
	color: #fbde43;
	box-shadow: 1px 1px 1px #191919;
	margin-top: 1%;
	margin-bottom: 1%;
}

#company h2{
	text-decoration: none;
	text-align: center;
}



.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	overflow-y: auto !important;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}



.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 90%;
	position: relative;
	box-shadow: 2px 2px px #fbde43;
	margin: 4% auto;
	padding: 5px 20px 13px 20px;
	background: #fbde43;
	background: -moz-linear-gradient(#fbde43, #fbde43);
	background: -webkit-linear-gradient(#fbde43, #fbde43);
	background: -o-linear-gradient(#fbde43, #fbde43);
	color:#363636;
	font-weight: bold;
	text-align: center;
}

.close {
	background: #363636;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #fff;
	-webkit-box-shadow: 1px 1px 3px #fff;
	box-shadow: 1px 1px 3px #fff;
}

.close:hover { background: #fbde43; }

