input{
padding:3px;
color:#191919;
border:1px solid #cccccc;
margin-top:2px;
width:150px;
font-size:11px;
}

#register_form{
    width: 90%;
    float:left;
    color: #ffdb19;
    margin:1%;
    padding: 1%;
    border: 1px solid #cccccc;
    background-color: #191919;
    box-shadow: 1px 3px 5px #cccccc;
    text-align: center; 
}

#register_form label{
font-weight: bold;
float: left;
width: 40%; 
color: #ffdb19;
}

#register_form input[type='submit']{
    background-color: #ffdb19;
    color: #191919;

}

#error{
    color: #ff3232;
}