body{
	background-color: #fbde43;
	margin: 0;
}

nav{
	z-index: 1;nav 
}

.navbar{
	background-color: #363636;
	width: 100%;
}

nav navbar-nav li:hover{
	background-color: #fbde43;
	width: 100%;
}

.dropdown-toggle a{
	color: #fbde43;
}
.btn{
	background-color: #363636;
	color: #fbde43;
	border-radius: 0px;
	border: 1px dotted #fbde43;
}

.navbar-brand:hover {
	color: #c0c0c0;
}
 ul{
 	color:#c0c0c0;
 }

 table {
 	padding: 0 !important;
	margin-right: 0;
	margin-left: 0; 	
 }

 .container{
	padding-left: 0 !important;
 	padding-right: 0 !important;
 	margin-left: auto !important;
 	margin-right: auto !important;
 	width: 92%;
 }

h2 {
	font-family: Arial Narrow;
	text-decoration: underline;
}

.col-md-12{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

li:hover{
	color: #808080;
}


.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #363636;
    color:#fbde43;
  }

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open{
    background-color: #363636;
    color:#fbde43;
  }
