body{
	background-color: #ffcc00;
	width: 100%;
	margin: 0;
}

.navbar{
	background-color: #191919;
	border: 1px solid #c0c0c0;
	width: 100%;
}

.btn{
	background-color: #ffdb19;
	color: #191919;
}

input{
	background-color: #ffdb19;
	color:	 #191919;
}

a .navbar-brand{
	color:#ffdb19;
 }

 a:hover{
 	color: #c0c0c0;
 }
 ul{
 	color:#c0c0c0;
 }